[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=130619qsnd
Exec=/usr/bin/single-instance /opt/130619qsnd/bin/130619qsnd
Icon=/usr/share/icons/hicolor/80x80/apps/130619qsnd80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
